<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aprendizagem.manu.boaviagemapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.aprendizagem.manu.boaviagemapp.viagem.ListaViagemActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeBacon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.aprendizagem.manu.boaviagemapp.login.LoginActivity" />
        <activity
            android:name="com.aprendizagem.manu.boaviagemapp.viagem.NovaViagemActivity"
            android:parentActivityName="com.aprendizagem.manu.boaviagemapp.viagem.ListaViagemActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aprendizagem.manu.boaviagemapp.viagem.ListaViagemActivity" />
        </activity>

        <activity
            android:name="com.aprendizagem.manu.boaviagemapp.gasto.NovoGastoActivity"
            android:parentActivityName="com.aprendizagem.manu.boaviagemapp.viagem.ListaViagemActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aprendizagem.manu.boaviagemapp.viagem.ListaViagemActivity" />
        </activity>

        <activity
            android:name="com.aprendizagem.manu.boaviagemapp.gasto.ListaGastoActivity"
            android:parentActivityName="com.aprendizagem.manu.boaviagemapp.viagem.ListaViagemActivity"
            android:theme="@style/AppThemeBacon">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aprendizagem.manu.boaviagemapp.viagem.ListaViagemActivity" />
        </activity>

        <activity android:name=".viagem.DetalhesViagem"/>

        <provider
            android:name="com.aprendizagem.manu.boaviagemapp.provider.Provider"
            android:authorities="com.aprendizagem.manu.boaviagemapp"
            android:exported="false" />

        <receiver
            android:name="com.aprendizagem.manu.boaviagemapp.widget.WidgetAplicativo"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/provedor_widget" />
        </receiver>

        <service android:name="com.aprendizagem.manu.boaviagemapp.widget.WidgetService" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCnoTeQob34MuFh8xD6m6KDgLMfo1Aly4Y"/>
    </application>
</manifest>
