<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aprendizagem.manu.estudobancodedados">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:theme="@style/AppThemeWithoutActionBar">
        <activity
            android:name=".viagem.ListaViagemActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".login.Login"/>
        <activity android:name=".viagem.NovaViagemActivity"/>
        <activity android:name=".gasto.NovoGastoActivity"/>
        <activity android:name=".gasto.ListaGastoActivity"/>
        <activity android:name=".calendar.CalendarMain"/>

        <provider
            android:name=".database.Provider"
            android:authorities="com.aprendizagem.manu.estudobancodedados"
            android:exported="false" />
    </application>

</manifest>
