<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aprendizagem.manu.estudobancodedados">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        <activity
            android:name=".viagem.ListaViagemActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.Login" />
        <activity android:name=".viagem.NovaViagemActivity" />
        <activity
            android:name=".gasto.NovoGastoActivity"
            android:parentActivityName=".viagem.ListaViagemActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="viagem.ListaViagemActivity" />
        </activity>
        <activity
            android:name=".gasto.ListaGastoActivity"
            android:parentActivityName=".viagem.ListaViagemActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".viagem.ListaViagemActivity" />
        </activity>
        <activity android:name=".login.RegistroUsuarioActivity" />

        <provider
            android:name=".database.Provider"
            android:authorities="com.aprendizagem.manu.estudobancodedados"
            android:exported="false" />

        <receiver
            android:name=".widget.WidgetAplicativo"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/provedor_widget" />
        </receiver>

        <receiver android:name=".widget.WidgetTeste">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_teste_info" />
        </receiver>
        <service android:name=".widget.WidgetService"/>
    </application>

</manifest>